<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to use</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header class="header">
        <div class="navigation-container">
            <ul class="navigation">
                <li>
                    <a href="Infor.html">
                        <span class="icon"><ion-icon name="information-circle-outline"></ion-icon></span>
                        <span class="title">Thông tin</span>
                    </a>
                </li>                
                <li>
                    <a href="HowToUse.html">
                        <span class="icon"><ion-icon name="book-outline"></ion-icon></span>
                        <span class="title">Hướng dẫn sử dụng</span>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                        <span class="title">Todolist</span>
                    </a>
                </li>
                <li>
                    <a href="Suggest.html">
                        <span class="icon"><ion-icon name="bulb-outline"></ion-icon></span>
                        <span class="title">Gợi ý</span>
                    </a>
                </li>
                <li>
                    <a href="login.html" id="logout">
                        <span class="icon"><ion-icon name="bulb-outline"></ion-icon></span>
                        <span class="title">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="content-wrapper">
        <section class="content-introduction content-section">
            <h1>Hướng dẫn sử dụng To Do List</h1>

            <h3>Bước 1</h3>
            <figure>
                <img src="../Images/HowToUse/Anh0.png" alt="Todolist trên thanh header" class="content-img" />
                <figcaption>Chọn To Do List trên thanh header</figcaption>
            </figure>
            
            <h3>Bước 2</h3>
            <figure>
                <img src="../Images/HowToUse/Anh1.png" alt="Viết công việc cần làm" class="content-img" />
                <figcaption>Viết công việc cần làm vào mục như ảnh bên dưới</figcaption>
            </figure>

            <h3>Bước 3</h3>
            <figure>
                <img src="../Images/HowToUse/Anh2.png" alt="Chọn giờ làm task" class="content-img" />
                <figcaption>Có thể chọn giờ làm task đó hoặc không bằng cách bấm chọn đồng hồ</figcaption>
            </figure>

            <h3>Bước 4</h3>
            <figure>
                <img src="../Images/HowToUse/Anh3.png" alt="Thêm task mới" class="content-img" />
                <figcaption>Bấm add hoặc Enter để thêm task</figcaption>
            </figure>

            <h3>Bước 5</h3>
            <figure>
                <img src="../Images/HowToUse/Anh4.png" alt="Task completed" class="content-img" />
                <figcaption>Đánh dấu task đã hoàn thành</figcaption>
            </figure>

            <h3>Bước 6</h3>
            <figure>
                <img src="../Images/HowToUse/Anh6.png" alt="Task completed" class="content-img" />
                <figcaption>Xóa task đi để thêm lại hoặc không cần nữa </figcaption>
            </figure>
            
            <h3>Bước 7</h3>
            <figure>
                <img src="../Images/HowToUse/Anh5.png" alt="CalendarTask" class="content-img" />
                <figcaption>Lên lịch làm việc cho mỗi ngày </figcaption>
            </figure>
            <h3>Bước 8</h3>
            <figure>
                <img src="../Images/HowToUse/Anh7.png" alt="Search Task" class="content-img" />
                <figcaption>Tìm kiếm các task của ngày đó</figcaption>
            </figure>
            <h3>Bước 9</h3>
            <figure>
                <img src="../Images/HowToUse/Anh8.png" alt="TaskDeleted" class="content-img" />
                <figcaption>Lên lịch làm việc cho mỗi ngày </figcaption>
            </figure>
        </section>
    </div>
     
</body>
</html>
