<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gợi ý cách tạo To Do List</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header class="header">
        <div class="navigation-container">
            <ul class="navigation">
                <li>
                    <a href="Infor.html">
                        <span class="icon"><ion-icon name="information-circle-outline"></ion-icon></span>
                        <span class="title">Thông tin</span>
                    </a>
                </li>                
                <li>
                    <a href="HowToUse.html">
                        <span class="icon"><ion-icon name="book-outline"></ion-icon></span>
                        <span class="title">Hướng dẫn sử dụng</span>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                        <span class="title">Todolist</span>
                    </a>
                </li>
                <li>
                    <a href="Suggest.html">
                        <span class="icon"><ion-icon name="bulb-outline"></ion-icon></span>
                        <span class="title">Gợi ý</span>
                    </a>
                </li>
                <li>
                    <a href="login.html" id="logout">
                        <span class="icon"><ion-icon name="bulb-outline"></ion-icon></span>
                        <span class="title">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="content-wrapper">
        <section class="content-introduction content-section">
            <h1>1. Cách sử dụng To Do List hiệu quả</h1>
            <p> Làm cách nào để sử dụng Todolist hiệu quả? Mời bạn đọc cùng theo dõi các bước thực hiện cụ thể ngay dưới đây để áp dụng chính xác nhất, nâng cao năng suất là việc nhé! </p>
            <h2>1.1 Liệt kê các task theo định kỳ</h2>

            <p>Trước tiên, bạn cần nhận biết một “Task list là gì?” và sau đó lập nên những kế hoạch cần thực hiện thành từng task cụ thể theo tuần, quý hoặc tháng. Dựa vào đó bắt đầu triển khai danh sách nhiệm vụ nhỏ cho mỗi ngày sẽ đơn giản hơn rất nhiều. Đây cũng là một cách để bạn tránh bị miss việc ở bất kỳ task nào.</p>
            <figure>
                <img src="../Images/Suggest/4.1.png" alt="Lên list công việc theo định kỳ" class="content-img" />
                <figcaption>Cách lập task list là gì? – Lên list công việc theo định kỳ</figcaption>
            </figure>
            <h2>1.2 Sắp xếp sự ưu tiên</h2>
            <p>Tiếp đến là bạn cần sắp xếp theo thứ tự ưu tiên những công việc quan trọng nhất cần hoàn thành trước trong danh sách Todolist để tránh tình trạng dồn vào cuối ngày hoặc trễ sang hôm sau. Quan trọng là bạn hãy nắm bắt chu kỳ hoạt động tốt nhất của mình như thời điểm nào trong ngày là tập trung cao độ, não bộ làm việc hiệu quả.</p>
            <figure>
                <img src="../Images/Suggest/4.2.Priority.png" alt="Priority" class="content-img" />
                <figcaption>Ưu tiên công việc quan trọng làm trước</figcaption>
            </figure>
            <h2>1.3 Trình bày công việc cụ thể</h2>
            <p>Todo list nên được trình bày cụ thể. Bạn cần chia nhỏ từng nhiệm vụ kèm theo khoảng thời gian thực hiện tối đa trong vòng 1-2 tiếng là tốt nhất. Vì nếu “khối lượng” việc nhiều, có tính quy mô lớn mà lập danh sách một cách mơ hồ, không cụ thể thì vô tình bạn đã tạo cho bản thân một áp lực nặng nề khiến kết quả hoàn thành sẽ kém chất lượng hẳn.</p>
            <figure>
                <img src="../Images/Suggest/4.3.Detail.png" alt="Detail" class="content-img" />
                <figcaption>Trình bày cụ thể từng đầu việc lớn và nhỏ</figcaption>
            </figure>
            <h2>1.4 Không để thời gian chết</h2>
            <p>Lưu ý khi lập danh sách Todolist, bạn nên sắp xếp công việc dàn trải một cách khoa học để tránh bỏ phí những khoảng thời gian ngồi chờ đợi mà không biết phải làm gì. Cách tốt nhất là hãy luôn mang theo to do list bên mình để dễ dàng kiểm tra và theo dõi những nhiệm vụ nào có thể tranh thủ hoàn thành trước.</p>
            <figure>
                <img src="../Images/Suggest/4.4.png" alt="Deadtime" class="content-img" />
                <figcaption>Tránh bỏ trống thời gian</figcaption>
            </figure>
            <h2>1.5 Lưu lại danh sách công việc ngày hôm trước</h2>
            <p>Việc lưu lại danh sách nhiệm vụ đã lập và hoàn thành xong của ngày hôm trước không những tiếp thêm niềm tin cho bạn mà còn tạo một thói quen tốt để duy trì làm mỗi ngày. Đây như là nguồn động lực lớn thúc đẩy tinh thần trách nhiệm của bản thân đối với danh sách công việc đã đề ra.</p>
            <figure>
                <img src="../Images/Suggest/4.5.SaveTasksDone.png" alt="SaveTasksDone" class="content-img" />
                <figcaption>Lưu lại tất cả danh sách công việc đã hoàn thành</figcaption>
            </figure>
            <h2>1.6 Tìm cách giải quyết các công việc chưa hoàn thành</h2>
            <p> Hiểu lợi ích của todolist là gì? và lên danh sách các task cụ thể vừa giúp bạn thực hiện công việc quan trọng nhanh chóng mà còn tạo động lực quyết tâm thực hiện nốt những việc tồn đọng. Qua đó, bạn sẽ có một bảng đánh giá là đã hoàn thành hết tất cả nhiệm vụ đặt ra.</p>
            <figure>
                <img src="../Images/Suggest/4.6.png" alt="Xử lý Task not done" class="content-img" />
                <figcaption>Xử lý các công việc còn tồn đọng</figcaption>
            </figure>
        </section>
        <section class="content-introduction content-section">
            <h1>2. Lưu ý khi tạo danh sách việc cần làm (To-Do List)</h1>
            <h2>2.1 Tính thực tế</h2>
            <p> Đây là lưu ý đầu tiên và quan trọng hàng đầu mà bạn đọc cần nắm rõ. Cho dù Todolist công việc từ cấp trên bàn giao hay cá nhân tự lập cũng cần đảm bảo tính thực tế. Danh sách nhiệm vụ phải phù hợp trong khả năng giải quyết của bạn, tránh tình trạng dồn quá nhiều sẽ không có đủ thời gian thực hiện cũng như tạo nên áp lực cho bản thân.</p>
            <figure>
                <img src="../Images/Suggest/5.1.Real.png" alt="Real task" class="content-img" />
                <figcaption>Lập todolist phải phù hợp với khả năng thực hiện</figcaption>
            </figure>
            <h2>2.2 Dự kiến đúng thời gian thực hiện</h2>
            <p> To do list được lập ra phải kèm theo thời hạn cụ thể cho từng đầu việc. Nếu bạn không đưa ra thời gian dự kiến thực hiện thì rất dễ rơi vào tình trạng loay hoay, lúng túng không biết nên làm công việc gì trước, công việc gì sau. Do đó, để các nhiệm vụ được hoàn thành theo đúng tiến độ, bạn cần thiết lập deadline tương ứng.</p>
            <figure>
                <img src="../Images/Suggest/5.2.png" alt="Time task" class="content-img" />
                <figcaption>Đưa ra khoảng thời gian dự kiến hợp lý</figcaption>
            </figure>
            <h2>2.3 Chia nhỏ và phân bổ công việc mang tính dài hạn</h2>
            <p> Khi lập một Todolist, bạn cần lưu ý chia nhỏ từng đầu việc theo khoảng thời gian thích hợp (ngày/ tuần/ tháng) hoặc có thể phân bổ dựa vào giai đoạn của dự án đó. Điều này sẽ giúp bạn thực hiện công việc một cách suôn sẻ. Sau mỗi quá trình thực hiện nhiệm vụ cũng nên kiểm tra lại công việc để đảm bảo không xảy ra sai sót và rút kinh nghiệm cải thiện tốt hơn.</p>
            <figure>
                <img src="../Images/Suggest/5.3.png" alt="Deadline task" class="content-img" />
                <figcaption>Chia nhỏ công việc tương ứng với deadline phù hợp</figcaption>
            </figure>
            <h2>2.4  Dự phòng các huống phát sinh</h2>
            <p> Đây là một yếu tố cũng không kém quan trọng khi tạo danh sách công việc. Bởi lẽ, không ai có thể đoán trước được những tình huống đột ngột có thể xảy ra. Chẳng hạn: Sếp giao thêm việc mới cần hoàn thành gấp, khách hàng thay đổi ý, đồng nghiệp hỗ trợ bị ốm… Vì vậy, việc dành ra khoảng thời gian dự phòng để giải quyết những trường hợp bất đắc dĩ là hoàn toàn cần thiết.</p>
            <figure>
                <img src="../Images/Suggest/5.4.png" alt="Rủi ro" class="content-img" />
                <figcaption>Chia nhỏ công việc tương ứng với deadline phù hợp</figcaption>
            </figure>

            <h2>2.5   Sử dụng như một app ghi chú</h2>
            <p> Cuối cùng bạn hãy xem và sử dụng Todolist như một app ghi chú mọi vấn đề ở mọi lúc mọi nơi. Chỉ cần tạo một Task mới kèm theo thiết lập mức độ ưu tiên và xếp vào hạng mục phân loại, thời gian sẽ giúp bạn dễ dàng theo dõi và thực hiện.</p>
            <figure>
                <img src="../Images/Suggest/5.5.GhiChu.png" alt="Like a task" class="content-img" />
                <figcaption>Xem Todolist như một ứng dụng ghi chú mỗi khi cần thiết</figcaption>
            </figure>
        </section>
    </div>
     
</body>
</html>
